* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    overflow: hidden;

    background: #05030a;

    color: white;

    font-family: Arial, sans-serif;

    touch-action: none;
}


/* =========================
   GAME CANVAS
========================= */

canvas {

    display: block;

}


/* =========================
   LOADING SCREEN
========================= */

#loading {

    position: fixed;

    inset: 0;

    z-index: 100;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    background:
        radial-gradient(
            circle,
            #1a0030,
            #05030a
        );

    animation:
        loadingFade 2s
        forwards;

    animation-delay: 2s;

}


#loading h1 {

    font-size: 55px;

    letter-spacing: 12px;

    color: #d28cff;

    text-shadow:

        0 0 10px #9b00ff,

        0 0 30px #7a00ff,

        0 0 60px #5a00aa;

}


#loading p {

    margin-top: 15px;

    color: #c58cff;

    letter-spacing: 5px;

}


@keyframes loadingFade {

    to {

        opacity: 0;

        visibility: hidden;

    }

}


/* =========================
   GAME UI
========================= */

#gameUI {

    position: fixed;

    top: 20px;

    left: 20px;

    z-index: 10;

    pointer-events: none;

}


#gameUI h1 {

    font-size: 24px;

    letter-spacing: 6px;

    text-shadow:
        0 0 15px #8a00ff;

}


#gameUI p {

    margin-top: 5px;

    font-size: 11px;

    color: #c38cff;

}


/* =========================
   MOBILE JOYSTICK
========================= */

#joystick {

    position: fixed;

    left: 25px;

    bottom: 25px;

    width: 120px;

    height: 120px;

    border-radius: 50%;

    background:

        radial-gradient(
            circle,
            rgba(130, 30, 200, 0.4),
            rgba(40, 10, 70, 0.5)
        );

    border:

        2px solid
        rgba(200, 120, 255, 0.7);

    box-shadow:

        0 0 20px
        rgba(150, 50, 255, 0.6);

    z-index: 20;

    touch-action: none;

}


#joystickKnob {

    position: absolute;

    width: 55px;

    height: 55px;

    left: 50%;

    top: 50%;

    transform:

        translate(
            -50%,
            -50%
        );

    border-radius: 50%;

    background:

        radial-gradient(
            circle,
            #e3b4ff,
            #7300bd
        );

    box-shadow:

        0 0 25px
        #a600ff;

    pointer-events: none;

}
